* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.bg-secondary {
  background: #1a1a1a !important;
}

.bg-primary {
  background: #8C1F9C !important;
}

.txt-primary {
  color: #8C1F9C;
}

.txt-secondary {
  color: #1a1a1a;
}

.spacer {
  padding: 80px 15px;
}

@media (max-width: 768px) {
  .justify-content-center-sm {
    justify-content: center;
  }
}

@font-face {
  font-family: TitilliumWeb-Regular;
  src: url(../fonts/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: "karla";
  src: url(../fonts/Karla-Regular.ttf);
}
@font-face {
  font-family: "karla-bold";
  src: url(../fonts/Karla-Bold.ttf);
}
@font-face {
  font-family: "TitilliumWeb", sans-serif;
  src: url(../fonts/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: "Titillium Web-light", sans-serif;
  src: url(../fonts/TitilliumWeb-Light.ttf);
}
@font-face {
  font-family: "Poppins-Light";
  src: url(../fonts/Poppins-Light.otf);
}
@font-face {
  font-family: "Titillium Web-bold", sans-serif;
  src: url(../fonts/TitilliumWeb-Bold.ttf);
}
.family-bold {
  font-weight: 800;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px;
  }
}
.app-header {
  background: #000;
  border-bottom: 3px solid #8C1F9C;
}
.app-header.active {
  transition: all 0.4s ease-in;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(4px);
  animation: fromTop 0.6s backwards;
}

.link-title {
  line-height: 28px;
  color: #1a1a1a;
  font-family: "Titillium Web-bold", sans-serif;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.link-title:hover {
  color: #8C1F9C;
}

.card-theme {
  margin-bottom: 15px;
  background: #F4F2F1;
}
.card-theme .photo {
  position: relative;
  max-height: 220px;
  overflow: hidden;
}
.card-theme .photo img {
  width: 100%;
  transition: transform 0.4s ease-in-out;
}
.card-theme .photo:hover img {
  transform: scale(1.1);
}
.card-theme .content {
  position: relative;
  background: #F4F2F1;
}
.card-theme .content .box {
  width: 100%;
  position: relative;
  margin: 0 auto;
  background: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 28px;
  top: -45px;
}
.card-theme .content .box .items {
  display: flex;
  align-items: center;
  flex: 2;
}
.card-theme .content .box .items .subtitle {
  font-weight: bold;
  margin-bottom: 0;
  color: #1a1a1a;
}
.card-theme .content .box .items:nth-child(1) {
  padding: 5px;
}
.card-theme .content .box .items:nth-child(2) {
  flex: 1;
  background-color: #8C1F9C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-theme .content .box .items:nth-child(2):hover {
  background-color: #1a1a1a;
}
.card-theme .content .box .items:nth-child(2):hover a {
  display: block;
}

.title-global {
  font-size: 2.4rem;
  font-weight: bold;
  color: #1a1a1a;
}
@media (max-width: 768px) {
  .title-global {
    font-size: 1.5rem;
  }
}

body {
  font-family: "karla";
  font-size: 16px;
  color: #777777;
  overflow-x: hidden;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Karla", sans-serif;
  color: #777777;
  margin-bottom: 0;
}

.z-index {
  position: relative;
  z-index: 1;
}

.donate-input {
  font-size: 30px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  border: 0;
  background: white;
  text-align: center;
  display: block;
  height: 55px;
  width: 127px;
  border-radius: 30px;
  color: #8C1F9C;
  margin: 0 5px;
  outline: none;
  padding: 0 13px;
}

.list-theme {
  list-style: none;
  position: relative;
  margin: 24px 0;
  padding: 0;
}
.list-theme li {
  position: inherit;
  margin: 18px 0 0;
  padding-left: 37px;
}
.list-theme li:before {
  content: "";
  position: absolute;
  background: #8C1F9C;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 5px;
  top: 14px;
}
.list-theme li:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #8C1F9C;
  left: 0;
  top: 9px;
  animation: pulseBig infinite 5s linear;
}

.topbar {
  position: relative;
}
.topbar:before {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 1% 100%);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 1% 100%);
  width: 1290px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f4f2f1;
  z-index: 0;
}

.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  float: right;
}
.social-links li {
  display: flex;
}
.social-links li a {
  margin: 0 8px;
  font-size: 1.2rem;
  color: #777777;
}
.social-links li a:hover {
  color: #8C1F9C;
}

.navCustom .nav-item .nav-link {
  margin-right: 0;
  font-size: 18px;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 4px;
  text-transform: capitalize;
  font-family: "Poppins-Light";
  display: flex;
}
@media (max-width: 1024px) {
  .navCustom .nav-item .nav-link {
    font-size: 14px;
  }
}
.navCustom .nav-item .nav-link:hover {
  color: #8C1F9C;
}
.navCustom .nav-item .nav-link.active {
  color: #8C1F9C;
  font-weight: bold;
}
.navCustom .nav-item .dropdown-menu {
  border: 0;
}
.navCustom .nav-item .dropdown-menu .dropdown-item {
  font-family: "Poppins-Light";
}
.navCustom .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #8C1F9C;
  color: #fff;
}
.navCustom .nav-item .dropdown-menu .dropdown-item.active {
  background-color: #1a1a1a;
  color: #8C1F9C;
}
.navCustom .dropdown-toggle:after {
  content: unset;
}
.navCustom .dropdown-toggle .up {
  display: none;
  font-size: 1.4rem;
}
.navCustom .dropdown-toggle .down {
  font-size: 1.4rem;
}
.navCustom .dropdown-toggle.show .up {
  display: inline-flex;
}
.navCustom .dropdown-toggle.show .down {
  display: none;
  font-size: 1.4rem;
}

.btn-theme {
  overflow: hidden;
  color: white;
  background: #8C1F9C;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  font-family: "Karla", sans-serif;
  padding: 15px 25px;
  display: inline-block;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  display: inline-flex;
  align-items: center;
}
.btn-theme:hover {
  background: #000;
}

.slider {
  position: relative;
}
.slider .carousel-text {
  max-width: 50%;
  position: absolute;
  top: 10%;
  left: 9%;
  font-family: "Titillium Web-bold", sans-serif;
}
@media (max-width: 768px) {
  .slider .carousel-text {
    max-width: 80%;
    text-align: center;
  }
}
.slider .carousel-text h1 {
  color: #fff;
  font-size: 3.3rem;
  font-weight: bold;
  margin: 22px 0;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .slider .carousel-text h1 {
    font-size: 19px;
  }

  .slider .carousel-item img {
    width: auto !important;
  }

}



.slider .carousel-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .carousel-item:before {
  content: "";
  background: rgba(95, 33, 141, 0.7215686275);
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.slider .carousel-control-next-icon {
  height: 50px;
  width: 50px;
}
.slider .carousel-control-prev-icon {
  height: 50px;
  width: 50px;
}

.featured-post .inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin-top: -130px;
  position: relative;
  z-index: 1;
  background: #fff;
}
.featured-post .inner .items {
  flex: 1;
  margin-bottom: 15px;
}
.featured-post .inner .items .photo {
  width: 100%;
  overflow: hidden;
}
.featured-post .inner .items .photo img {
  width: 100%;
  transition: transform 0.4s ease-in-out;
}
.featured-post .inner .items .photo img:hover {
  transform: scale(1.1);
}
@media (max-width: 992px) {
  .featured-post .inner .items {
    flex-basis: 48%;
  }
}
@media (max-width: 992px) {
  .featured-post .inner .items {
    flex-basis: 100%;
  }
}
.featured-post .inner .items .bottom-part {
  display: flex;
  position: relative;
  background-color: #1a1a1a;
}
.featured-post .inner .items .bottom-part .items:nth-child(1) {
  flex: 3;
  padding: 20px;
}
.featured-post .inner .items .bottom-part .items:nth-child(2) {
  flex: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 85px;
  transition: width 0.3s ease-in-out;
}
.featured-post .inner .items .bottom-part .items:nth-child(2):hover {
  width: 105px;
}
.featured-post .inner .items .bottom-part .items .title {
  font-size: 22px;
  color: #8C1F9C;
}
.featured-post .inner .items .bottom-part .items .sub-title {
  font-size: 17px;
  color: #fff;
}
.featured-post .inner .items .bottom-part .items .link {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-post .inner .items .bottom-part .items .link a {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 4rem;
}
.featured-post .inner .items .bottom-part .items .link:before {
  content: "";
  position: absolute;
  background: orange;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transform: skew(10deg, 0deg) translate(9.4px, 0px);
}

.photo {
  width: 100%;
  overflow: hidden;
}
.photo img {
  width: 100%;
  transition: transform 0.4s ease-in-out;
}
.photo img:hover {
  transform: scale(1.1);
}

.about {
  background: linear-gradient(to bottom, #F4F2F1, rgba(244, 242, 241, 0)), url(../images/home/01.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
.about .info-box {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  max-width: 220px;
  position: absolute;
  right: 15px;
  bottom: -30px;
  z-index: 2;
  background: #1a1a1a;
  padding: 15px;
  border: 10px solid #fff;
}
.about .info-box h1 {
  font-size: 4rem;
  color: #8C1F9C;
  flex: 1;
}
.about .info-box h4 {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: capitalize;
  font-family: "karla-bold";
  color: #fff;
}

.join {
  background-color: #88893d;
  color: #fff;
}

.donate {
  background: linear-gradient(to bottom, rgba(50, 25, 0, 0.8509803922), rgba(42, 30, 2, 0.8901960784)), url(../images/home/2.jpg);
  background-position: right center;
  background-repeat: no-repeat;
}

.blog-section .blog {
  margin-bottom: 15px;
}
.blog-section .blog .photo img {
  width: 100%;
  border-radius: 5px;
}
.blog-section .blog .tag {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  background: #8C1F9C;
  color: #fff;
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  line-height: 1;
}
.blog-section .blog .tag a {
  color: #fff;
  display: flex;
  align-items: center;
}

@keyframes pulseBig {
  0% {
    box-shadow: 0 0 0 0 #8C1F9C;
  }
  50% {
    box-shadow: 0 0 0 20px rgba(199, 179, 1, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(199, 186, 1, 0);
  }
}
.partners-section {
  background: #F4F2F1;
}
.partners-section .slick-slider {
  height: 90px;
}

.slick-dots li.slick-active button {
  background: #8C1F9C;
}
.slick-dots li.slick-active button:before {
  content: unset;
}

.footer-area {
  background-color: #000;
  color: #fff;
}
.footer-area ul {
  padding: 0;
}
.footer-area ul li {
  list-style: none;
}
.footer-area ul li a {
  color: #fff;
  line-height: 20px;
  font-size: 16px;
}
.footer-area ul li a:hover {
  color: #8C1F9C;
  font-weight: bold;
}
.footer-area ul li .semi-02-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.footer-area ul li .semi-02-title span {
  font-size: 15px;
}
.footer-area ul li .semi-02-title a {
  font-size: 20px;
}

.basis-40 {
  flex-basis: 40px;
}

.flex-4 {
  flex: 4;
}

.eventBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

@keyframes fromTop {
  0% {
    top: -160px;
  }
  100% {
    top: 0;
  }
}
.form-control:focus {
  color: #8C1F9C;
  border-color: #8c1f9c;
  outline: 0;
  box-shadow: none;
}

.hover-color {
  color: #fff;
}
.hover-color:hover {
  color: #8C1F9C;
  font-weight: bold;
}

:target {
  padding-top: 120px !important;
}

.cookieBox {
  display: none;
  z-index: 2;
  width: 100%;
}
.cookieBox.show {
  display: block;
}
.popup-gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.popup-gallery a {
  width: 23%;
}
@media (max-width: 768px) {
  .popup-gallery a {
    width: 100%;
    justify-content: center;
  }
  .popup-gallery a img {
    width: 100%;
  }
}
.popup-gallery a:hover img {
  transition: all 0.4s ease-in-out;
  transform: scale(1.01);
}
/*# sourceMappingURL=app.css.map */